/* styles.css */
.card-wrapper {
    width: 100%;
    height: 100%;
  }
  
  .card {
    width: 100%;
    height: 530px;
  }
  
  .card-img-top {
    width: 100%;
    height: 300px; /* Set desired height */
    object-fit: cover;
  }
  